body{
    background-color: black;
    color: whitesmoke;
}
div{
margin-top: 30px;;
border: 5px solid whitesmoke;
margin-left: 25%;
width: 50%;
}
img{
    width: 100%;
    border-bottom:5px solid whitesmoke;
}
h1{
    margin-left: 35%;
}
h2{
    margin-left: 19%;
}