/* ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
/* p{
  color: red;
}
.note[value="2"]{
  color: black;
}
#id-selector-demo[value="3"]{
  color: green;
}
li[value="4"]{
  color: blue;
}
*{
  color: black;
} */ 